<h1>Add a word</h1>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_name">Type the word in here</label>
    <input id="n" name="word_name" class="form-control" type="text">
    <label for="meaning">Type the definition in here</label>
    <input id="a" name="meaning" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Add Your Word!</button>
</form>