<h4>You can update a word's spelling and definition here, or you can delete a word</h4>

<form action="/word/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="meaning">Change Definition</label>
    <input id="n" name="meaning" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Update Definition</button>
</form>
<br>

<form action="/word/<%= @word.id %>" method="post" id="delete">
  <div class="form-group">
    <label for="meaning_new">Change Definition</label>
    <input id="n" name="meaning_new" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-warning" id="delete">Add Definition</button>
</form>

<br>

