<h1><%= @word.word.upcase %><h1>

<h4>You can update a word's spelling here</h4>

<form action="/word/<%= @word.id %>/update_word" method="post">
  <div class="form-group">
    <label for="spelling">Change Word Spelling</label>
    <input id="n" name="spelling" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Update Word</button>
</form>
<br>

<a href="/words/<%= @word.id %>">Go back</a>

