<h4>You can update a word's spelling and definition here, or you can delete a word</h4>

<form action="/word/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="word_name">Rename Word: optional</label>
    <input id="n" name="word_name" class="form-control" type="text">
    <label for="meaning">Redefine-word: optional</label>
    <input id="a" name="meaning" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Update</button>
</form>
<br>
<form action="/word/<%= @word.id %>" method="post">
  <input name="method" type="hidden" value="delete">
  <button type="submit" class="btn-primary">Delete Word</button>
</form>
