<h1><%= @word.word.upcase %><h1>

<h4>Definition(s)</h4>
<ul>
  <% print_array = @word.meaning.split(".") %>
  <% print_array.each do |definition|%>
  <li><%= definition %></li>
  <% end %>
</ul>

<a href="/word/<%= @word.id %>/update_word">Change or add definitions</a>
<br>
<a href="/words">Go back</a>

<br>

<form action="/word/<%= @word.id %>/delete" method="post">
  <input name="method" type="hidden" value="delete">
  <button type="submit" class="btn-primary">Delete Word</button>
</form>